/* C7DCA7  89B9AD FFEBD8 FFC5C5 */

.nav-bar{
    background: linear-gradient( #c7dca7, #89b9ad);
}
.main{
    min-height: 80vh;
}

.card-text{
    background-color: #c7dca732;
}
.primary-color{
    color: #89B9AD;
}
.line{
    width:100px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
  
}
.form-color{
    background: linear-gradient( #ffebd831, #ffc5c50d);
}